In [1]:
import pandas as pd

In [2]:
# sampled = pd.DataFrame()

# chunksize = 10 ** 6
# for chunk in pd.read_csv("user_data.csv", chunksize=chunksize):
#     sampled = sampled.append(chunk.sample(frac=0.1), ignore_index=True)

In [3]:
# sampled.columns

In [4]:
# sampled_v1 = pd.DataFrame(sampled, columns=sampled.columns)

In [5]:
# sampled_v1.columns

In [6]:
# sampled_v1 = sampled_v1.rename(index=str, columns={"Unnamed: 0": "index", "Unnamed: 8": "no_gen"})

In [7]:
sampled = pd.read_csv("sampled.csv")

In [8]:
sampled.head()

,Unnamed: 0,index,msno,city,age,registered_via,registration_init_time,female,male,no_gen,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,0,263487,F4dToClKeuYk+KkcOgjT3KYh8Ts1s66/X0FlY++Pk7M=,15,17,9,20090423,1,0,0,20150619,1,1,1,0,8,8,2005.518
1,1,317683,CtuL6W2EvT51G/R00rj0D0jZYe/nO1RtIGdpN5QCna4=,5,22,3,20141128,0,1,0,20170110,0,0,1,0,69,5,15635.115
2,2,675389,2nvgOURSk21T1xr0hFP0JPx3fmW1wod5YuOeLjfe88I=,1,0,7,20120513,0,0,1,20151128,3,0,0,2,78,47,15529.220
3,3,930974,NrqcncdcFL/HT6OM5LXlRPWFlCtGXYmHmOKZudPviow=,22,47,9,20080303,1,0,0,20160212,0,0,0,0,8,8,1750.133
4,4,173773,yGWUDtiplVnnGtPExNxY6XQ07m9x+d2+jGwJ7lwWA8w=,22,27,9,20120128,0,1,0,20160608,2,0,1,1,10,2,3261.200

In [9]:
import numpy as np

In [10]:
cols = ['age', 'registered_via', 'registration_init_time',
              'female', 'male', 'num_25', 'num_50', 'num_75', 'num_985',
              'num_100', 'num_unq', 'total_secs']

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
sampled[cols].shape

(39029258, 13)

In [19]:
ss = StandardScaler()
aa = sampled[cols].sample(frac=0.1)
ss.fit(aa)

/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/data.py:617: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [20]:
scaled_sample = ss.transform(aa)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.

In [27]:
pd.DataFrame(scaled_sample).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,-1.062323,-0.875372,0.028668,0.244820,-0.666613,-0.712716,-0.460536,-0.154109,-0.473358,-0.384797,-0.658845,-0.773495,0.012451
1,2.118522,0.361559,-1.710260,0.574193,-0.666613,1.403083,0.598368,0.086307,-0.008964,-0.045372,0.100603,0.647867,0.012451
2,-1.062323,-0.875372,0.028668,0.265636,-0.666613,-0.712716,-0.248755,-0.154109,-0.473358,-0.384797,-0.468983,-0.477378,0.012451
3,-1.062323,-0.875372,0.028668,0.228804,-0.666613,-0.712716,-0.389942,-0.394525,-0.008964,-0.384797,-0.540181,-0.595825,0.012451
4,2.118522,0.590620,0.898131,-2.118304,-0.666613,1.403083,-0.460536,-0.394525,-0.473358,-0.384797,-0.445250,-0.536601,0.012451